




#container{
	width: 970px;
	border: red 1px solid;
	margin: 0px auto;	
}



	#nav{
		height:30px;
		position:relative;
		padding:0;
		margin:0;
		z-index:999;
		}
		#nav .curtain{
			display:block;
			position:absolute;
			top:0;
			left:0;
			width:970px;
			height:30px;
			overflow:hidden !important;
			}
	/* Level 1*/
	#nav ul.level01{
		height:30px;
		background:#000;
		display:block;
		list-style:none;
		padding:0;
		margin:0 0 0 1px;
		}
		#nav ul.level01 li{
			width:194px;
			height:inherit;
			float:left;
			margin:0 0 0 0;
			padding:0 0 0 0;
			}
			#nav ul.level01 li.last{
				margin:0;
				width:193px;
				}
			#nav ul.level01 li a{
				display:block;
				width:inherit;
				height:inherit;
				line-height:30px;
				text-decoration:none;
				color:#fff;
				font-size:13px;
				text-indent:12px;
				font-weight:bold;
				}
				#nav ul.level01 li a:hover{
					color:#000;
					}
	/* Level 2 */
	#nav ul.level02{
		margin:0;
		padding:20px 0 30px 0;
		height:auto;
		position:absolute;
		left:1px;
		top:30px;
		background:none;
		display:none;
		list-style:none;
		width:970px;
		}
		
		/* Col Positions */
		#nav ul.level01 li.col0 ul.level02{ left: 1px; }
		#nav ul.level01 li.col1 ul.level02{ left: 194px; }
		#nav ul.level01 li.col2 ul.level02{ left: 388px; }
		#nav ul.level01 li.col3 ul.level02{ left: 582px; }
		#nav ul.level01 li.col4 ul.level02{ left: 776px; }
		
		#nav ul.level02 li{
			margin:0;
			float:none;
			height:30px;
			}
			#nav ul.level02 li a{
				font-size:11px;
				font-weight:normal;
				color:#000;
				}
	
	/* Level 3 */
	#nav ul.level03{
		margin:0;
		padding:20px 0 30px 0;
		height:auto;
		position:absolute;
		left:193px;
		top:0;
		background:none;
		display:none;
		list-style:none;
		}
		#nav ul.level01 li.col4 ul.level02 li ul.level03{ left:-193px; }
		
/* BREADCRUMBS */
.breadcrumbs{
	display:block;
	height:30px;
	margin:0 1px;
	}
	.breadcrumbs ul{
		display:block;
		height:30px;
		margin:0;
		padding:0;
		list-style:none;
		}
		.breadcrumbs ul li{
			display:block;
			min-width:194px;
			height:30px;
			line-height:30px;
			float:left;
			padding:0;
			margin:0;
			text-indent:10px;
			}
		.breadcrumbs ul li.last{
			
			}
			.breadcrumbs ul li a{
				text-decoration:none;
				color:#000;
				text-indent:10px;
				background:url(/images/icons/breadcrumbs_deli.gif) no-repeat;
				padding:0 11px 0 0;
				}
			.breadcrumbs ul li .currentPage{
				cursor:default;
				}